body{
    background-color: #eaeaea;
    font-family: 'Montserrat', sans-serif;
}
.wrapper{
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 36px;
    padding-bottom: 40px;
}
.nav{
    display: flex;
    list-style-type: none;
    padding-left: 0;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
}
.nav>li{
    padding-left: 23px;
    margin-left: 22px;
    position: relative;
}
.nav>li:first-child{
    padding-left: 0;
    margin-left: 0;
}
.nav>li::before{
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    background-color: #494949;
    position: absolute;
    left: 0;
}
.nav>li:first-child::before{
    display: none;
}
.nav>li>a{
    text-decoration: none;
    color: #494949;
}
.banner{
    background-image: url(../image/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 260px;
    padding-bottom: 285px;
}
.pizza{
    position: absolute;
    right: 0;
    top: -170px;
}
.title{
    font-size: 50px;
    margin-bottom: 23px;
}
.description{
    font-size: 25px;
    line-height: 30px;
    max-width: 570px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 24px;
}
.btn{
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid #fff;
    padding: 16px;
    max-width: 190px;
    text-align: center;
}
.h2{
    font-size: 45px;
    color: #282828;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    position: relative;
}
.h2::before, .h2::after{
    content: '';
    position: absolute;
    background-image: url(../image/shape.png);
    display: block;
    width: 102px;
    height: 28px;
    top: calc(50%-14px);
}
.h2::before{
    left: 0;
}
.h2::after{
    right: 0;
}